.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.spot{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 80px;
    border: solid black 5px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.top{
    text-align: center;
}